body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    padding: 50px;
}

.container {
    max-width: 800px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2.5em;
}

form {
    display: flex;
    flex-direction: column; /* Alinha os itens verticalmente */
    align-items: center; /* Centraliza os itens horizontalmente */
}

input[type="radio"] {
    margin: 10px; /* Espaçamento entre as opções */
}

button {
    font-size: 1.5em;
    padding: 10px 20px;
    margin-top: 20px; /* Adiciona espaço acima do botão */
}
